.cabecalho {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: darkgrey;
    height: 100px;
}

.navigation a {
    margin-right: 20px;
}

.cabecalho > img  {
    width: 150px;
    height: 100px;
    padding: 0.5rem 0.5rem 1rem;
}

.cabecalho > nav {
    justify-content: space-around;
    height: 20%;
    width: 375px;
    flex-wrap: wrap;
    margin-left: 30px;
}

.cabecalho a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    padding: 0% 0;
}

.cabecalho a:hover{
    color: white;
    background-color: black;
}