.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.container p {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

  