.conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 260px 0px 210px;
}

.cards {
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 4px 8px 0;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
    background-color: darkgrey;
}

.cards:hover {
    color: black;
    background-color: skyblue;
}

.imagem {
    height: 180px;
    width: 100%;
    border-radius: 15px;
}