@import url(../css/cabecalho.css);
@import url(../css/conteudo.css);
@import url(../css/rodape.css);
@import url(../css/container.css);
@import url(../css/breakpoint940px.css);
@import url(../css/breakpoint630px.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

