* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    max-width: 1440px;
    height: 1024;
}

.cabecalho {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: darkgrey;
    height: 100px;
    
}

.cabecalho > img  {
    width: 150px;
    height: 100px;
    padding: 0.5rem 0.5rem 1rem;
    display: block;
}

.cabecalho > nav {
    display: flex;
    justify-content: space-around;
    height: 20%;
    width: 30%;
    flex-wrap: wrap;
}

.cabecalho a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    padding: 0% 0;
}

.cabecalho a:hover{
    color: white;
    background-color: black;
}

.conteudo {
    
}